<div class="card p-0 m-2 text-center" style="width: 14em;">
  <img class="card-img-top mb-2" src="https://picsum.photos/200?random" alt="<%= user.profile.full_name %>">

  <div class="card-header p-0 m-0">
    <%= user.profile.full_name %>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item p-0">
      <%= user.profile.location %>
    </li>
    <li class="list-group-item p-0">
      <%= user.email %>
    </li>
    <li class="list-group-item p-0">
      <%= render 'shared/friend_request_control', friend: user %>
    </li>
  </ul>

</div>
