<div class="d-flex flex-row m-2 justify-content-center">
  <div class="m-1 text-center">
    <% if user.profile.avatar.attached? %>
      <%= image_tag user.profile.avatar.variant(resize: "100x100"), class: 'p-3 border rounded' %>
    <% else %>
      <%= image_tag user.gravatar_url, class: 'p-3 border rounded' %>
    <% end %>
  </div>
  <div class="d-flex mt-3 ml-4 flex-column">
    <div class="m-1 font-weight-bold">
      <h3>
        <%= user.profile.full_name %>
      </h3>
    </div>
    <div class="m-1">
      <%= user.email %>
    </div>
    <div class="m-1">
      <%= user.profile.location %>
    </div>
  </div>
</div>
